*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  border:none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
  --bg-color:rgb(0, 0, 0);
  --second-bg-color:#161616;
  --text-color:#fff;
  --main-color: rgb(0, 204, 255);

}
html{
  font-size: 62.5%;
  overflow-x: hidden;

}
body{
  background: var(--bg-color);
  font-family: 'Poppins',sans-serif;
  color: var(--text-color);
}
html::-webkit-scrollbar{
  width: 0.8rem;
}
html::-webkit-scrollbar-track{
  background: var(--bg-color);
}
html::-webkit-scrollbar-thumb{
  background: var(--main-color);
}
.header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  padding: 3rem 9%;
  background: rgba(0,0,0,0.7);
  filter:drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo{
  font-size: 3rem;
  color: var(--main-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}


.logo:hover{
  transform: scale(1.1);
}
.navbar a{
  font-size: 1.8rem;
  color:var(--text-color) ;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}
.home .home-content  b{
  color: var(--main-color);
}

.nav a:hover,
.navbar a.active{
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
#menu-icon{
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

@media (max-width:995px){
  #menu-icon{
      display: block;
  }
  .navbar{
      position: absolute;
      top: 100%;
      right: 0;
      width: 40%;
      border-left: 3px solid var(--main-color);
      border-bottom: 3px solid var(--main-color);
      border-bottom-left-radius: 2rem;
      padding:1rem 3%;
      background-color: var(--second-bg-color);
      border-top: 0.1rem solid rgba(0,0,0,0.1);
      display: none;
  }
  .navbar.active{
      display: block;
  }
  .navbar a{
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
  }
  .navbar a:hover,
  .navbar a.active{
      padding: 1rem;
      border-radius: 0.5rem;
      border-bottom: 0.5rem solid var(--main-color);
  }
}
section{
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}
.home{
  display: flex;
  justify-content:center ;
  align-items: center;
  gap:8rem;
  background: var(--bg-color);
  background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
  url(10.jpg);
  background-size: cover;

}
.home .home-content h1{
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
  
}
span{
  color: var(--main-color);
}
.home-content h3{
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.home-img{
  border-radius: 50%;
  
}
.home-img img{
  position: relative;
  width: 32vw;
  height: 30vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
}
.home-img img:hover{
  transform:scale(1.01);
  filter: drop-shadow( 0 0 25px var(--main-color));
}
.home-content p{
  font-size: 1.8rem;
  font-weight: 500;
}
.social-icon a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height:4rem ;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  font-size:2rem;
  border-radius: 50%;
  color: var(--main-color);
  margin:3rem 1.5rem 3rem 0;
  transition: 0.2s ease;
}
.social-icon a:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.3)translateY(-5px);
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}
.btn{
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--bg-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}
.btn:hover{
  transform:scale(1.03);
  background-color: var(--main-color);
  color: black;
  box-shadow: 0 0 25px var(--main-color);
}

@media(max-width:995px){
  section{
      padding:10rem 3% 2rem;
  }
}
@media(max-width:995px){
  .home{
      flex-direction: column;
      margin: 5rem 4rem;
  }
  .home .home-content h3{
      font-size: 2.5rem;
  }
  .home-content h1{
      font-size: 5rem;
  }
  .home-img img{
      width:70vw;
      margin-top: 4rem;
  }

}
.skills .bar {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}
.skills .bar .info {

  text-overflow: ellipsis;
  width: 100px;
  height: 100px;
  background-color: #1d1b1b;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  border-radius: 5px;
  text-align: center;     
  font-size: medium;
  margin-bottom: 10px;
  
}
.skills .bar .info span {
  color: #ffffff;
}
.skills{
  background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
  url(13.jpg);
  background-size: cover;
}
.skills .row .col{
  display: flex;
  width: 100%;
  
}
.ab, .kan {
  flex: 1; 
  font-size: 18px;
}
.skills .col .ab strong{
  font-size: 25px;
}

.skills .row .kan p{ 
  font-size: 20px;
}
.skills .row .kan b{ 
  font-size: 20px;
  color: var(--main-color);
}
.bar .info:hover{
  background-color: #000000;
  color: rgb(255, 255, 255);
  transform: scale(1.3)translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
}
.skills .bar .info span:hover{
  color: #ffffff;
}
.bar .info .i{
  
      font-size: 2em;
      margin: 10px;
      padding: 10px;
      background-color: #555;
      border-radius: 5px;
      opacity: 1;
  
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin:20px;
}
.skills .row h3{
  font-size: 35px;
  color: var(--main-color);
  
}
.skills .row h2{
  font-size: 35px;
  color: var(--main-color);
  
}
.skills .row strong{
  color: var(--main-color);
  font-size: 18px;
}
.skills .row{
  line-height: 25px;
  font-size: 14px;
}

.skills .row .col ul li strong{
  display: inline-block;
  color:var(--main-color);
  width: 130px;
}
.education{
  background: linear-gradient(to top, rgba(23, 26, 28, 0.8), rgba(30,35,38,1)),
  url(edupic1.gif);
  background-size: cover;
}



.education.timeline{
  position:relative;
  max-width: 1200px;
  margin:0 auto;
}
.education .timeline::after{
  content: '';
  position: absolute;
  width:6px;
  background: var(--main-color);
  top:50;
  bottom: 0;
  left:50%;
  margin-left: -3px;
  z-index: -2px;
}
.education .container{
  padding:10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.education .container::after{
  content: '\f501';
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  right:-17px;
  background-color: #fff;
  border: 4px solid var(--main-color);
  top:15px;
  border-radius: 50%;
  z-index: 100;
  font-size:2rem;
  text-align: center;
  font-weight:600;
  font-family: "Font Awesome\ 5 Free";
  color: black

}
.education .left{
  left:0;

}

.pianoSection{
  background: linear-gradient(to top, rgba(23, 26, 28, 0.8), rgba(30,35,38,1)),
  url(pianopic1.gif);
  background-size: cover;
}


.education .right{
  left:50%;
}
.education .left::before{
  content: '';
  height: 0;
  position: absolute;
  top:22px;
  width:0;
  z-index:1;
  right:30px;
  border:medium solid var(--main-color);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--main-color);
}

.education .right::before{
  content: '';
  height: 0;
  position: absolute;
  top:22px;
  width:0;
  z-index:1;
  left:30px;
  border:medium solid var(--main-color);
  border-width: 10px 10px 10px 10px;
  border-color: transparent transparent transparent var(--main-color);
}
.education .right::after{
  left: -16px;
}
.education .content{
  background: var(--main-color);
  position: relative;
  border-radius: 6px;
}
.education .content .tag{
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}
.education .content .decs{
  margin-left:1.5rem;
  padding-bottom:1rem;
}
.education .content .tag h2{
  font-size: 2.5rem;
  font-weight:600;
  color: #000000;
}
.education .content .decs p{
  font-size:1.5rem;
  font-weight:500;
  color: #000000;
}
@media screen and (max-width:600px){
  .education .timeline{
    margin-top:2rem;
  }
  .education .timeline::after{
     left:31px
    

  }
  .education .container{
    width:100%;
    padding-left: 8rem;
    padding-right:2rem;
  }
  .education .container::after{
    font-size:2.2rem;
  }
  .education .container::before{
    left:61px;
    border:medium solid var(--main-color);
    border-width:10px 10px 10px 0;
    border-color: transparent var(--main-color)transparent transparent;
  }
  .education .left::after{
    left:15px;

  }
  .education .right::after{
    left:15px;
  }
  .education .right{
    left:0%;
  }
}
.education .heading{
  font-size: 3.5rem;
}
.contact .contact-form{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 4.2rem;
}
.contact h2{
  font-size: 3.5rem;

}
.contact{
  
  background: linear-gradient(to top, rgba(23, 26, 28, 0.8), rgba(30,35,38,1)),
  url(con2.png);
  background-size: cover;

}
.contact .contact-form form{
  position:relative;
  width:600px;
}
form input,
form textarea{
  width:100%;
  padding:20px;
  border:none;
  outline:none;
  box-shadow:0 0 5px var(--main-color);
  background: #2d343f;
  color:var(--text-color);
  margin-bottom: 20px;
  border-radius: 8px;
}
form input::placeholder,
form textarea::placeholder{
  color: var(--text-color);
  font-size:15px ;
}
form .send-btn {
  display: inline-block;
  padding: 11px 26px;
  background: var(--main-color);
  color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  transition: all .50s ease;
  width:100%;
}
form .send-btn:hover{
  background: transparent;
  color: var(--main-color);
  box-shadow: 0 0 20px var(--main-color);
  cursor: pointer;
}



.footer{
  
  
}